body {
font-family: "Helvitica Neue",Helvetica,Arial,sans-serif;
}

div#top-container {
min-width: 940px;
width: inherit;
margin-top: 40px;
background-color: #27568C;
padding-bottom: 20px;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.60);
border-bottom: 1px solid black;
}

div#top-pane {
width: 100%;
}

div#bottom-pane {
padding-top: 30px;
width: 100%;
}

img {
height: auto;
display: block;
margin: auto;
max-width: 90%;
}

div#myCarousel div.item {
width: 100%;
height: 500px;
}

div#myCarousel h1 {
text-align: center;
margin-bottom: 20px;
}

a#signup {
display: block;
width: 20%;
padding: 14px 0px;
margin: auto;
}

hr#whoweare {
margin-bottom: 30px;
}

div#nav-float-right {
float:right;
height: 40px;
}

div#nav-float-right form {
margin: 0px;
}

div#nav-float-right input.input-small {
	padding-top: 5px;
width: 110px;
}

div#nav-float-right a {
	margin-top: 0px;
}
div#nav-float-right input.input-small {
margin: 6px 1px;
height: 28px;
}

div#nav-float-right label {
color: white;
}

div#myModal label {
	margin-top: 5px;
}

div#myModal input {
margin: 5px;
height: 28px;
}

.navbar .brand {
padding-top: 10px;
padding-bottom: 10px;
}
