/* Body and structure
	 ------------------------------------------------ */
body {
position: relative;
margin-top: 50px;
}

/* Jumbotron
	 ------------------------------------------------ */
.jumbotron {
position: relative;
}
.jumbotron h1 {
margin-bottom: 3px;
font-size: 81px;
letter-spacing: -1px;
line-height: 1;
font-weight: bold;
}
.jumbotron p {
color: #555;
margin-bottom: 10px;
font-weight: 300;
}

/* Subhead
	 ------------------------------------------------ */
.subhead {
padding-bottom: 0;
margin-bottom: 9px;
}
.subhead h1 {
font-size: 54px;
}
